html {
  font-size: 62.5%;
}

body {
  height: 100vh;

  background: #050505;
  background: -webkit-linear-gradient(
    to right,
    #030303,
    #030303
  ); 
  background: linear-gradient(
    to right,
    #080808,
    #070707
  ); 

  color: #effe92;
}


@media only screen and (max-width: 992px) {
  .toggle-menu {
    position: fixed;
    top: 1rem !important;
    right: 2rem !important;
  }  
}

@media only screen and (max-width: 576px) {
  .toggle-menu {
    position: fixed;
    top: 0rem !important;
    right: 1rem !important;
  }  
}

.toggle-menu{
  position:fixed;
  top: 1.5rem !important;
  right: 1rem !important;
}